body {
	background: url('bg.png') no-repeat top center, -webkit-linear-gradient(#765490 560px, #6A4883 620px, #433061 900px);
	background: url('bg.png') no-repeat top center, -moz-linear-gradient(#765490 560px, #6A4883 620px, #433061 900px, #433061);
	text-align: center;
	margin: 0 0;
	color: white;
	font-family: 'Calibri', 'Verdana', sans-serif;
	font-size: 15px;
	text-shadow: 0 2px rgba(0, 0, 0, 0.6);
}

button {
	font-family: 'Calibri', 'Verdana', sans-serif;
}

#mapping {
	position: absolute;
	right: 0;
	top: 0;
	margin: auto;
	text-align: center;
	border-spacing: 1px 5px;
}

/* #mapping td:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 10px;
	border-right: 1px solid rgba(96, 48, 96, 0.8);
}
#mapping td:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid rgba(96, 48, 96, 0.8);
}
#controls button, #mapping td, #sound, #controls label {
	background: transparent;
	border: 0px solid rgba(192, 128, 192, 0.5);
	border-top: 2px solid rgba(96, 48, 96, 0.8);
	border-bottom: 2px solid rgba(255, 200, 255, 0.5);
	border-radius: 30px;
	color: white;
	font-weight: bold;
	display: block;
	padding: 6px 15px;
	margin-right: 330px;
	margin-left: auto;
	margin-top: 20px;
	font-size: 20px;
	text-shadow: 0 2px rgb(96 48 96 / 80%), 0 -1px rgb(255 200 255 / 50%);
}
#mapping td {
	padding: 5px 23px;
	display: table-cell;
}
#controls .bigbutton, #mapping td {
	font-size: 30px;
	padding: 8px 25px;
} */

#preload,
#ingame {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0 !important;
}

#screen {
	margin-top: 85px;
	margin-bottom: 18px;
}

#screen[width="240"] {
	margin-top: 0;
	margin-bottom: -363px; /* Take up no height */
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	zoom: 2;
	-o-transform: scale(2);
}

#controls > div {
	margin-top: 30px;
	-moz-transform-origin: 50% 0;
	-moz-transform: rotateX(0deg);
	-moz-transition: -moz-transform linear 0.5s;
	-webkit-transform-origin-y: 2px;
	-webkit-transform: rotateX(0deg);
	-webkit-transition: -webkit-transform linear 0.5s;
}

#crash {
	margin-top: 100px;
	margin-bottom: 199px;
}

button {
	background-color: #6A4883;
	font-weight: bold;
	font-size: 18px;
	color: white;
	text-shadow: 0 3px #433061;
	padding: 2px 10px 5px;
	border-radius: 0 0 10px 10px;
	border: 0 solid rgba(0, 0, 0, 0.4);
	border-width: 3px 1px 0px;
	display: inline;
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2) inset;
	margin: 0 0 20px;
}

label, #sound, #controls > div > p {
	display: block;
	margin: 5px 30px;
	height: 18px;
}

label, #sound {
	float: left;
	clear: left;
}

#sound + p {
	margin-top: -23px !important;
}

#controls > div > p {
	float: right;
	clear: right;
}

input[type=checkbox] {
	margin: -3px 5px 0 0;
}

input[type=checkbox]::after {
	display: inline-block;
	content: "";
	background-color: #765490;
	border: 0 solid rgba(0, 0, 0, 0.3);
	border-width: 1px 1px 2px;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	position: relative;
	top: -3px;
	visibility: visible;
}

input[type=checkbox]:checked::after {
	background-color: #6A4883;
	border-width: 2px 1px 1px;
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2) inset;
}

p:first-child {
	margin-top: 0;
}

a:link, a:visited {
	color: #fcb3f0;
}

.hidden {
	-moz-transform: rotateX(90deg) !important;
	-webkit-transform: rotateX(90deg) !important;
}

.dead {
	display: none;
}

input[type=file] {
	opacity: 0 !important;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

input[type=range] {
	width: 100px;
	height: 14px;
	margin: 2px;
}

footer {
	font-size: 12px;
	padding-top: 8px;
}

p {
	margin: 0;
}

label p, #sound p {
	display: inline;
}

ul#links {
	display: block;
	text-align: center;
	padding: 0;
}

ul#links li {
	display: inline;
	list-style-type: none;
}

ul#links li:not(:first-child)::before {
	content: "•";
	margin: 0 0.5em;
}
